.title {
    width: 100px;
}

.header {
    display: flex;
    justify-content:space-between;
    margin:10px;
    border: 1px solid black;
}

.nav-items > ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
}

.nav-items > ul > li {
    padding: 10px;
}

.restaurant-list {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
 .card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
 }

 .card > img {
    width: 100%;
 }



 .footer {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
 }